[Desktop Entry]
Name=Lunexa GUI
GenericName=LXAGUI
Comment=Lunexa GUI
Exec=lunexa-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getlunexa.Lunexa
StartupNotify=true
